
.btn-editor {
  @include flex-around;
  padding: 3px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2;
  background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  line-height: 20px;
}

.btn-editor:hover {
  background-image: linear-gradient(-180deg, #f2f2f2, #eff3f6 100%);
  border: 1px solid rgba(0, 0, 0, 0.3);
}




.btn-price {
  text-transform: uppercase;
  color: $secondary-color;
  font: 15px $primary-font;
  text-decoration: none;
  background-color: #7e6f7f;
  margin: 36px auto;
  padding: 16px 49px;
  cursor: pointer;
  border-radius: 44px;

}

.btn-price:hover {
  background-color: #d2cdd2;
  color: #7e6f7f;
}

.btn-price span {
  color: $secondary-color;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  background-color: $primary-color;
  border-radius: 44px;
  font-family: $primary-font;
  color: $secondary-color;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 700;


  &-small {
    font-size: 15px;
    padding: 10px 23px;
    transition: .4s;
    border: 1px solid transparent;
    order: 2;
    @include breakpoint(tablet) {
      padding: 12px 34px;
    }
    @include breakpoint(desktop) {
      order: 3;
    }


    &:hover {
      color: $primary-color;
      background-color: $secondary-color;
      border: 1px solid $primary-color;
    }
  }

  &-large {
    white-space: nowrap;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    padding: 13px 32px;
    letter-spacing: 0.5px;
    font-weight: 700;
    font-size: 17px;
    transition: .4s;
    border: 1px solid transparent;
    @include breakpoint(tablet) {
      padding: 20px 62px;
      font-size: 21px;
    }

    &:hover {
      color: $primary-color;
      background-color: $secondary-color;
      border: 1px solid $primary-color;

    }
  }
}


