.about-us {
  position: relative;
  background-color: #f4f4f4;
  overflow: hidden;
  @include breakpoint(desktop) {
    padding-top: 80px;
    padding-bottom: 55px;
  }

  &__title {
    text-align: center;
    color: $primary-color;
    font: 900 31.5px/38px $primary-font;
    letter-spacing: .2px;
    padding: 32px 0;
    flex: 0 0 100%;
    @include breakpoint(desktop) {
      display: none;
    }

    &::before {
      content: "<"
    }

    &::after {
      content: ">"
    }

    &--desktop {
      display: none;
      @include breakpoint(desktop) {
        display: inline;
        text-align: left;
        font-size: 40px;
        white-space: nowrap;
      }
      @include breakpoint(1176px){
        font-size: 47.5px;
    }
    }
  }

  &-wrapper {
    @include breakpoint(tablet) {
      display: flex;
      flex-wrap: wrap;
    }
    @include breakpoint(desktop) {
      flex-wrap: nowrap;

    }
  }

  &__icon-box {
    @include flex-center;
    margin-bottom: 33px;
  }

  &__txt-holder {
    @include breakpoint(tablet) {
      flex: 0 0 70%;
    }
    @include breakpoint(desktop) {
      flex: 1 0 50%;
    }
  }

  &__left-col {
    @include breakpoint(desktop) {
      flex: 0 0 50%;
    }
  }


  &__box-txt-title {
    font-size: 16.5px;
    text-align: center;
    line-height: 40px;
    color: #323232;
    @include breakpoint(tablet) {
      text-align: left;
    }
    @include breakpoint(desktop) {
      max-width: 365px;
    }
  }

  &__box-txt-description {
    color: #848e97;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    @include breakpoint(tablet) {
      text-align: left;
    }
    @include breakpoint(desktop) {
      max-width: 365px;
    }
  }

  &__right-col {
    position: relative;
    min-height: 348px;
    flex: 0 0 50%;
  }
}

.img-icons {
  height: 84px;
  width: 100%;
  @include breakpoint(tablet) {
    flex: 0 0 30%;
  }
}



.img-editor {
  display: block;
  @include breakpoint(desktop) {
    position: absolute;
    bottom: 0;
    left: -20px;
  }
}




.icon-1 {
  background: url(../../img/icons/icon1.png) top  no-repeat;
}

.icon-2 {
  background: url(../../img/icons/icon2.png) top  no-repeat;
}

.icon-3 {
  background: url(../../img/icons/icon3.png) top  no-repeat;
}

.icon-4 {
  background: url(../../img/icons/icon4.png) top  no-repeat;
}
