
.header {
  position: relative;
  background: url("../img/bg/img.jpg") center;
  background-size: cover;
  padding-bottom: 422px;


  &__title {
    padding-top: 33px;
    text-align: center;
    color: $secondary-color;
    font: 700 47.5px $primary-font;
    letter-spacing: .4px;
    @include breakpoint(tablet) {
      font-size: 72px;
    }
    @include breakpoint(desktop) {
      font-size: 82px;
    }

    &-description {
      text-align: center;
      padding: 6px 0 12px;
      color: $primary-color;
      font: 17.5px $primary-font;
      line-height: 34px;
      text-transform: capitalize;
      letter-spacing: .4px;
      @include breakpoint(tablet) {
        font-size: 24px;
        padding-top: 10px;
      }
      @include breakpoint(desktop){
        font-size: 30px;
      }

      &-caption {
        color: #848e97;
        text-align: center;
        font: 13.5px $primary-font;
        text-transform: uppercase;
        letter-spacing: .3px;
      }
    }
  }
}



