.navbar {
  position: relative;
  padding: 31px 0;
  background-color: #27262a;
  @include breakpoint(tablet) {
    padding: 22px 0;
  }
  @include breakpoint(desktop) {
    padding: 31px 0;
  }

  &-wrapper {
    @include flex-between;
    @include breakpoint(tablet) {
      align-items: flex-start;
    }
    @include breakpoint(desktop) {
      @include flex-between;
    }
  }

  &__logo {
    @include flex-center;
    text-decoration: none;

    &-wrapper {
      @include flex-center;
      @include breakpoint(tablet) {
        margin-bottom: 14px;
      }
      @include breakpoint(desktop) {
        margin: 0;
        flex: 1 0;
        justify-content: flex-start;
      }
    }

    &:hover &-pic::after {
      opacity: 1;
    }

    &:hover &-text {
      color: $secondary-color;
    }

    &-pic {
      position: relative;
      height: 41px;
      width: 43px;
      background: url("../img/logo/logo-sprite.png") -5px -5px;
      transition: .4s;

      &::after {
        content: "";
        background: url("../img/logo/logo-sprite.png")  -58px -5px no-repeat;
        opacity: 0;
        transition: .4s;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }


    &-text {
      display: none;
      margin-left: 17px;
      color: $primary-color;
      font: bold 24px $primary-font;
      text-transform: uppercase;
      transition: .4s;
      @include breakpoint(tablet) {
        display: inline;
      }
    }
  }

  &__menu {
    background-color: #333333;
    display: none;
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    @include breakpoint(tablet) {
      @include flex-between;
      margin: 0 auto;
      transform: none;
      background-color: transparent;
      order: 2;
      position: static;
      width: 518px;
      align-self: flex-end;
    }
    @include breakpoint(desktop) {
      align-self: auto;
      margin: 0 48px 0 0;
    }

    &.active {
      display: block;
    }


    &-link {
      position: relative;
      display: block;
      box-sizing: border-box;
      padding: 31px 42px 31px 33px;
      text-decoration: none;
      background-color: #333333;
      color: $secondary-color;
      border-bottom: 2px solid #3b3b3b;
      white-space: nowrap;
      font: 26px $primary-font;
      @include breakpoint(tablet) {
        margin: 0;
        border: 0;
        padding: 0;
        background-color: transparent;
        position: static;
        color: $primary-color;
        font: 700 16px $primary-font;
        text-decoration: none;
        transition: .4s;
      }


      &:hover {
        color: $primary-color;
        @include breakpoint(tablet) {
          color: $secondary-color;
        }

        &:before {
          visibility: visible;
        }
      }

      &:before {
        content: '';
        visibility: hidden;
        width: 8px;
        height: 53px;
        background-color: $primary-color;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        @include breakpoint(tablet) {
          display: none;
        }
      }
    }


    &-item:last-child &-link {
      margin-bottom: 10px;
      @include breakpoint(tablet) {
        margin: 0;
      }
    }
  }

  &__toggler {
    order: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include breakpoint(tablet) {
      display: none;
    }

    &-line {
      border-radius: 44px;
      width: 26px;
      height: 2px;
      background-color: #e5e3e3;
      margin: 4px 0;

      &:first-child {
        width: 20px;
        align-self: flex-end;
      }
    }
  }
}







