.preference {
  padding-bottom: 88px;
  align-items: center;

  &__title-top {
    font-size: 26px;
    color: #635c73;
    padding-bottom: 7px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    flex-wrap: wrap;
    line-height: 42px;
    @include breakpoint(tablet) {
      font-size: 42px;
      padding-bottom: 20px;
    }
    @include breakpoint(desktop) {
      font-size: 54px;
    }

    &-description {
      text-align: center;
      max-width: 913px;
      font: 13.5px/31.5px $secondary-font ;
      color: #635c73;
      line-height: 20.5px;
      letter-spacing: .4px;
      margin: 0 auto;
      @include breakpoint(tablet){
        font-size: 20.5px;
        line-height: 31.5px;

      }
    }
  }
}

.btn-large-description {
  text-align: center;
  justify-content: center;
  color: #635c73;
  font-size: 14px;
  margin-bottom: 62px;
  padding-top: 34px;
  @include breakpoint(tablet){
    padding-top: 44px;

  }
}

.btn-editor-txt {
  font-weight: bolder;
  font-size: 11px;
  margin-left: 5px;
}

.count-box {
  @include flex-center;
  background-color: $secondary-color;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  cursor: pointer;
  line-height: 20px;
  padding: 3px 10px;

}


.fork {
  margin-top: 20px;
  @include breakpoint(tablet){
    margin: 0;
  }
}

.visitors-count {
  font-weight: bolder;
  font-size: 11px;
  text-decoration: none;
  color: #000000;
}

.visitors-count:hover {
  color: rgb(0, 0, 175);
}


.btns-editor-container {
  padding-left: 10px;
  margin: 31px auto 0;
  @include flex-center;
  max-width: 300px;
  @include breakpoint(tablet){
    max-width: 500px;
  }
}
