.pricing {
  background: url("../img/bg/pricing-bg.jpg") center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 79px 0 93px;

  &-wrapper {
    @include flex-center;
    @include breakpoint(tablet) {
      justify-content: space-around;
      flex-direction: column;

    }
    @include breakpoint(600px){
      flex-direction: row;
    }
    @include breakpoint(desktop) {
      flex-wrap: nowrap
    }
  }
}

.pricing-title {
  color: $secondary-color;
  line-height: 42px;
  font-size: 28.5px;
  text-align: center;
  margin-bottom: 53px;

}

.title-plan-head {
  font-size: 24px;
  color: $secondary-color;
  display: inline;
  text-transform: uppercase;
}


.tariff-plan {
  @include flex-center;
  margin-bottom: 14px;
  background-color: #5F5061;
   max-width: 257px;
  @include breakpoint(tablet) {
    margin-bottom: 42px;
  }
  @include breakpoint(desktop) {
    transform: scale(0.9);
    flex: 0 1 25%
  }
  @include breakpoint(1150px){
    transform: scale(1);
  }
}

.tariff-plan-recommended {
  @include flex-center;
  text-align: center;
  width: 290px;
  background-color: #413344;
  margin-bottom: 14px;
  @include breakpoint(desktop) {
    transform: scale(0.9);
    flex: 0 1 25%;
  }
  @include breakpoint(1150px){
    transform: scale(1);
  }
}

.plan-head {
  @include flex-center;
  width: 100%;
  height: 97px;
  background-color: #6a5b6a;
  max-width: 260px;
  transition: all 0.3s ease-out;
}


.plan-additional-box {
  min-height: 70px;
  text-align: center;

}

.plan-additional-box-recommended {
  min-height: 130px;
  text-align: center;
}

.price-box {
  text-align: center;
}

.price {
  text-align: center;
  font: 60px $primary-font;
  line-height: 120px;
  color: $secondary-color;
}

.price-value {
  font-weight: 700;
}

.price-description {
  display: block;
  text-align: center;
  color: rgba(255, 255, 255, 0.25);
  text-transform: uppercase;
  padding-bottom: 39px;
  position: relative;
  margin-bottom: 36px;

}

.price-description::after {
  content: "";
  height: 5px;
  width: 60px;
  background-color: #8d81ac;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);

}

.plan-additional {
  color: $secondary-color;
  font-size: 18px;
  line-height: 30px;
}


.plan-head-recommended {
  width: 290px;
  height: 111px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3a2d3d;
}

.price-recommended {
  display: block;
  font-size: 84px;
  color: $secondary-color;
  margin-bottom: 21px;
  line-height: 120px;
}
