
.review {
  margin-top: -10px;
  background: url("../img/bg/review-bg.jpg") center;
  background-size: cover;
  @include breakpoint(tablet) {
    background: url("../img/bg/testmonials-bg.jpg") center 9px;
    background-size: cover;
  }

  &-wrapper {
    @include flex-center;
    @include breakpoint(tablet) {
      @include flex-between;
    }
    @include breakpoint(desktop) {
      @include flex-around;
    }
  }

  &__title {
    margin-bottom: 40px;
    padding-top: 71px;
    text-align: center;
    font: 700 35.5px/47.5px $primary-font;
    color: $secondary-color;
    @include breakpoint(tablet) {
      font-size: 42px;
    }
    @include breakpoint(desktop) {
      margin-bottom: 85px;
    }
  }

  &__item {
    @include flex-center;
    padding-bottom: 45px;
    width: 250px;
    @include breakpoint(tablet) {
      max-width: 316px;
      flex: 0 1 46%;
    }
    @include breakpoint(desktop) {
      padding-bottom: 107px;
      flex: 0 1 33%;
    }

    &-img-budda {
      @include breakpoint(tablet) {
        padding: 20px 0;
      }
      @include breakpoint(desktop){
        padding: 0;
      }
    }

    &-text {
      text-align: center;
      padding-top: 30px;
      color: #ffffff;
      font: italic 700 16px $secondary-font;
      line-height: 24px;
    }
  }

  &__bottomline {
    height: 2px;
    background-color: #645766;
    width: 100%;
    margin: 15px auto 0;
    @include breakpoint(tablet) {
      max-width: 699px;
    }
    @include breakpoint(desktop) {
      max-width: 780px;
    }
  }

  &__bot-caption {
    display: none;
    color: #a291a5cc;
    font: 14px $secondary-font;
    text-align: center;
    max-width: 674px;
    margin: 0 auto;
    line-height: 1.5;
    @include breakpoint(tablet) {
      display: inline;
    }
    @include breakpoint(desktop) {
      min-width: 857px;
    }
  }
}





