@mixin flex-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

@mixin flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

@mixin breakpoint($size) {
  @if $size == tablet {
    @media (min-width: 480px) {
      @content;
    }
  } @else if $size == desktop {
    @media (min-width: 993px) {
      @content;
    }
  }@else {
    @media (min-width: $size){
      @content
    }
  }
}