@import "reset";
@import "variables";
@import "mixins";
@import "components/components";
@import "sections/sections";

.container {
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
  @include breakpoint(tablet) {
    max-width: 808px;
    padding: 0 20px;
  }
  @include breakpoint(desktop) {
    max-width: 1240px;
  }
}

body {
  font-family: $primary-font;
}
